
/* This will apply all included styles to the header element */
header{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* This will apply all included styles to any element which uses the "logo" class*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -75px;
}

/* This will apply any included styles to the body element */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4adbff;

}
/* Create your own classes below! */
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.li {
    float: left;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.text-box {
    border:1px solid;
    box-sizing: border-box;
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    margin: 5px;
    text-align: justify;
}

.text-box2 {
    border:1px solid;
    box-sizing: border-box;
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    margin: 5px;
    text-align: justify;
    height: 800px;
}

.colors-1{
    background-color: #ff6767;
}

.colors-2{
    background-color: #ffff4d;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around
}

.flex-left{
    width: 1/3%;
    margin: 5px;
}

.flex-center{
    width: 2/3%;
    margin: 5px;
}

.flex-right{
    width: 1/3%;
    margin: 5px;
}

img{
    width: 350px;
    height: 350px;
    object-fit: contain;
}
